[submodule "RedTube.bundle"]
	path = RedTube.bundle
	url = https://github.com/flownex/RedTube.bundle.git
[submodule "xHamster.bundle"]
	path = xHamster.bundle
	url = https://github.com/flownex/xHamster.bundle
[submodule "PornHub.bundle"]
	path = PornHub.bundle
	url = https://github.com/mattspunk/PornHub.bundle.git
[submodule "YouTubeTV"]
	path = YouTubeTV
	url = https://github.com/kolsys/YouTubeTV.bundle.git
